body {
    background-color : black;
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
}

h1{
    color: white;
}

h2{
    color: white;
}

p{
    color: white;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    background-color: white;
}

header nav ul {
    margin: 50px;
    padding: 0;
    display: flex;
    list-style-type: none;
    gap: 16px;
    color: black;
}

header a {
    color: black;
    text-decoration: none;
}

.card1 {
    display:grid;
    grid-template-columns: repeat(2, 405px);
    grid-row: 112px 667px;
    grid-column-gap: 50px;
    grid-row-gap: 50px; 
    justify-content: flex-start; /* Allinea le colonne all'inizio del contenitore */
    max-width: calc(100% - 500px); /* Larghezza massima del contenitore (meno 200px da sinistra e 200px da destra) */
    margin: auto auto; /* Centra il contenitore nella pagina */
}

.card1 h1{
    grid-column: 1;
    grid-row: 1;
    font-size: 58px;
}

.card1 p{
    grid-column: 1;
    grid-row: 2;
    font-size: 20px;
}

.card1 img{
    grid-column: 2;
    grid-row: 2;
}

.card2 {
    display:grid;
    grid-template-columns: repeat(3, auto);
    grid-row: 850px 305px 854px;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    justify-content: flex-start; /* Allinea le colonne all'inizio del contenitore */
    max-width: calc(100% - 500px); /* Larghezza massima del contenitore (meno 200px da sinistra e 200px da destra) */
    margin: auto auto; /* Centra il contenitore nella pagina */
}

.img2{
    grid-column: span 3;
    grid-row: 1;
}

.img3{
    grid-column: 1;
    grid-row: 2;
}

.img4{
    grid-column: 2;
    grid-row: 2;
}

.img5{
    grid-column: 3;
    grid-row: 2;
}

.img6{
    grid-column: span 3;
    grid-row: 3;
}

